<!DOCTYPE html>
<script type="text/javascript">
  window.slide1_URL = "<%= image_url('slacc_homepage.png') %>"
  window.slide2_URL = "<%= image_url('slacc_file_sharing.png') %>"
</script>
<html>
  <head>
    <title>Slacc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <!-- FONTS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
