<!DOCTYPE html>
<script type="text/javascript">
  // images
  // header.jsx
  window.logo_URL = "<%= image_url('logo.png') %>" // line 28

  // splash_container.jsx
  window.dropbox_URL = "<%= image_url('dropbox.png') %>" // line 49-64
  window.asana_URL = "<%= image_url('asana.png') %>"
  window.googledrive_URL = "<%= image_url('googledrive.png') %>"
  window.salesforce_URL = "<%= image_url('salesforce.png') %>"
  window.jira_URL = "<%= image_url('jira.png') %>"
  window.zendesk_URL = "<%= image_url('zendesk.png') %>"
  window.gotomeeting_URL = "<%= image_url('gotomeeting.png') %>"
  window.onedrive_URL = "<%= image_url('onedrive.png') %>"
  window.zoom_URL = "<%= image_url('zoom.png') %>"
  window.giphy_URL = "<%= image_url('giphy.png') %>"
  window.lattice_URL = "<%= image_url('lattice.png') %>"
  window.teamline_URL = "<%= image_url('teamline.png') %>"
  window.dash_URL = "<%= image_url('dash.png') %>"
  window.outlook_URL = "<%= image_url('outlook.png') %>"
  window.cisco_URL = "<%= image_url('cisco.png') %>"
  window.loom_URL = "<%= image_url('loom.png') %>"

  // slideshow.jsx
  window.slide1_URL = "<%= image_url('slacc_homepage.png') %>" // line 20
  window.slide2_URL = "<%= image_url('slacc_file_sharing.png') %>"
</script>
<html>
  <head>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>"
      window.githubURL = "<%= image_url('github_logo.png') %>"
    </script>
    <title>Slacc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <!-- FONTS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
