<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>"
      window.githubURL = "<%= image_url('github_logo.png') %>"
    </script>
    <title>Slacc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <!-- FONTS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
